
@import "./variables.css";

section.has-light-background h1,
section.has-light-background h2,
section.has-light-background h3,
section.has-light-background h4,
section.has-light-background h5,
section.has-light-background h6 {
  color: var(--dark-background);
}

body {
  background: var(--dark-background);
  font-family: var(--font-family);
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: var(--header-color);
  line-height: 1.2;
  letter-spacing: normal;
  text-shadow: none;
  word-wrap: break-word;
}

.reveal .controls {
  color: var(--controls-color);
}

.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: var(--progress-color);
}

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

.reveal > section img {
  box-shadow: none;
  border: none;
  background: none;
}
