
@import "./variables.css";

.user-info__photo {
  box-shadow: none;
  border: var(--photo-border-width) var(--photo-border-style) var(--photo-border-color);
  width: var(--photo-width);
  border-radius: var(--photo-border-radius);
}

.user-info__name {
  font-weight: bold;
  font-size: 1em;
}

.user-info__position {
  font-size: 0.7em;
  font-weight: 200;
}

.user-info__position a {
  color: var(--link-color);
}

.user-info__social {
  margin-top: 50px;
  font-size: 0.4em;
}

.user-info__social a {
  color: var(--link-color);
  padding: 0 10px;
}

.user-info__social a:hover {
  color: var(--link-color-hover);
}
