
@import "./variables.css";

.block-user-info {
  width: auto;
}

.user-info__photo {
  box-shadow: none;
  border: var(--photo-border-width) var(--photo-border-style) var(--photo-border-color);
  width: var(--photo-width) !important;
  border-radius: var(--photo-border-radius) !important;
}

.user-info__name {
  font-weight: bold;
  font-size: 1em;
}

.user-info__position {
  font-size: 0.7em;
  font-weight: 200;
  text-align: left;
}

.user-info__position a {
  color: var(--link-color);
}

.user-info__social {
  margin-top: 40px;
  font-size: 0.5em;
}

.user-info__social a {
  color: var(--link-color);
  padding: 5px 10px;
}

.user-info__social a:hover {
  color: var(--link-color-hover);
}
